


<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<!-- <app-home></app-home> -->
<!-- <app-userresumeupdate></app-userresumeupdate> -->
<!-- <app-admin></app-admin> -->
<!-- <app-userstatus></app-userstatus> -->
<router-outlet></router-outlet>


<footer class="footersec mt-2">
    <div class="footerpart">
        <a routerLink="https://rntbci.in">
            <img class="footerimg" src="../../../assets/images/logo1.png" width="350px" height="100px" alt="logo">
            <p class="cpyname">2022 @ Renault Nissan Technology & Business Centre India (RNTBCI)</p>
        </a>
    </div>
</footer>